<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>View Book</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
	<div class ="center">
		<h1 th:text="|Here are the reviews for ${book.title} by ${book.author}|">Here are the reviews for:  </h1>
		<div th:if="${#lists.isEmpty(reviewList)}">
			<h1>No reviews yet</h1>
		</div>
	
		<div th:unless="${#lists.isEmpty(reviewList)}">
			<ul th:each = "review : ${reviewList}">
				<li th:text="${review.text}"></li>
			</ul>
		</div>
	
		<div sec:authorize="hasRole('USER')">
			<p><a href="" th:href="@{/user/addReview/} + ${book.id}">Add Review</a></p>
		</div>
	
		<div sec:authorize="!isAuthenticated()">
			<p>Want to leave a review? Login <a href= "/login">here</a></p>
		</div>
	
		<p><a href="/" th:href="@{/}">Back to index</a></p>
	</div>
</body>
</html>